<ion-header>

    <ion-navbar>
        <ion-title *ngIf="atraccion">Atracción - {{atraccion.categoria}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row no-padding>
            <ion-col col-10>
                <ion-title>
                    {{atraccion.titulo}}
                </ion-title>
            </ion-col>
            <ion-col col-2 text-right>
                <ion-icon [name]="atraccion.icono ?atraccion.icono:'home'"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row>
            <p style="text-align: justify;">
                {{atraccion.resumen}}
            </p>
        </ion-row>
        <ion-row>
            <ion-slides *ngIf="atraccion.archivos.fotos.length" pager>
                <ion-slide *ngFor="let img of atraccion.archivos.fotos">
                    <img [src]="img.ruta" class="slide-image" style="width: 100%; height: 250px;"/>
                    <p style="font-size: 10px;">{{img.descripcion}}</p>
                </ion-slide>
            </ion-slides>
        </ion-row>
        <ion-row>
            <div [innerHTML]="atraccion.cuerpo">

            </div>
        </ion-row>


        <ion-row text-center>
            <ion-col no-padding>
                <h3>
                    Acá está!
                </h3>
                <div #contenedorMapaAtraccion>

                </div>
            </ion-col>
        </ion-row>

        <ion-row text-center>
            <ion-col no-padding>
                <button block ion-button primary (click)="comoLlegar()">
                    ¿Cómo llegar?
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-item *ngFor="let audio of atraccion.archivos.audios">
        <ion-icon name='musical-notes' item-left style="color: #d03e84"></ion-icon>
        <audio style="width: 100%; " src="{{audio.ruta}}" controls>
        </audio>

        <p>{{audio.descripcion}}</p>

    </ion-item>


</ion-content>
