<!--
  Generated template for the Lugares page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>

        <ion-searchbar [(ngModel)]="search" placeholder="Buscar lugares" ></ion-searchbar>
        <ion-buttons *ngIf="offline" end>
            <button ion-button icon-only (click)="updateApp()">
                <ion-icon name="download"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>


</ion-header>


<ion-content>
    <ion-item>
        <ion-label>Activar modo offline</ion-label>
        <ion-toggle (ionChange)="setOffline()" [(ngModel)]="offline"></ion-toggle>
    </ion-item>
    <ion-grid no-padding>
        <ion-row>
            <ion-col no-padding col-6 col-md-3 col-lg-4 col-xl-3 *ngFor="let lugar of (atracciones | filter:search)">
                <ion-card (click)="presentLugarModal(lugar)">

                    <ion-item>
                        <ion-avatar item-left no-padding>
                            <img src="img/marty-avatar.png">
                        </ion-avatar>
                        <h2>{{lugar.titulo}}</h2>
                        <p>{{lugar.resumen}}</p>
                    </ion-item>

                    <img class="altura-lista" *ngIf="!offline"
                         [src]="lugar.archivos.fotos.length ? lugar.archivos.fotos[0].ruta:''">
                    <img class="altura-lista" *ngIf="offline"
                         [default]="lugar.archivos.fotos.length ? lugar.archivos.fotos[0].ruta:''"
                         [src]="lugar.archivos.fotos.length ? lugar.archivos.fotos[0].ruta:''">


                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>
    <ion-fab right bottom>
        <button (click)="scan()" ion-fab color="primary">
            <ion-icon name="barcode"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
